/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

/*
 * Colors definition
 */
$br: #46362C;
$gr1: #339966;
$gr2: #006633;
$gr3: #D7E8DF;
$re: #FF6666;
$ye: #FFCC66;
$bl: #0099CC;

$g1: #333333;
$g2: #666666;
$g3: #999999;
$g4: #CCCCCC;
$g5: #F2F2F2;
$wh: #FFFFFF;