/*
 * Colors definition
 */
$br: #46362C;
$gr1: #339966;
$gr2: #006633;
$gr3: #D7E8DF;
$re: #FF6666;
$ye: #FFCC66;
$bl: #0099CC;

$g1: #333333;
$g2: #666666;
$g3: #999999;
$g4: #CCCCCC;
$g5: #F2F2F2;
$wh: #FFFFFF;

.resume {
    //font-weight: 500;
    //background-color: $g3;
    font-weight: bold;
    font-size: '10px';
    //border-bottom: 1px solid black;
} 
.order {
    font: 100% Helvetica;
    background-color: $gr2;
}
.btnPress{
    color: $re;
}